* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* adds animation for all transitions */
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

#page-content {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
  z-index: 2;
  padding: 2rem;
  /* border: 1px solid black; */
}
/* 
.btn {
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  color: red;
  font-size: 2rem;
  padding: 200px;
} */

#drawer {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;
  background: #2f2f2f;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  padding: 20px;
  -webkit-overflow-scrolling: touch;
}

/* Menu item styles */

#drawer ul {
  list-style-type: none;
}

#drawer ul a {
  display: block;
  padding: 10px;
  color: #c7c7c7;
  text-decoration: none;
}

#drawer ul a:hover {
  color: white;
}

.free-p {
  color: red;
  position: fixed;
  padding: 1rem;
  top: 0px;
  left: 0px;
  transform: translateX(-200px);
}

.button {
  color: red;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateX(50%);
  z-index: 1000;
  padding: 2rem;
  background-color: blue;
  padding-left: 58px;

  /* position: relative;

  top: -160px;
  padding-left: 10rem; */
  /* left: -200px; */
  /* right: 0px; */
}

.btn-left {
  position: absolute;
  right: 0;
  top: 30%;
  color: red;
  /* font-size: 2rem; */
  transform: translateX(50%);
  z-index: 1000;
  /* background-color: aqua; */
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

.btn-right {
  position: absolute;
  left: 0;
  top: 30%;
  color: red;
  transform: translateX(-50%);
  font-size: 2rem;
  /* visibility: hidden; */
  color: transparent;
}

.btn-left .right-arrow-icon {
  font-size: 3rem;
}

.btn-left .right-arrow-icon.active {
  transform: rotate(180deg);
}
